---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-reinterpret-cast

WarningsAsErrors: "*"
HeaderFilterRegex: ".*/src/.*|.*/include/.*"
FormatStyle: file